<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Update User</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Update User</h2>-->
<!--<form action="/admin/user-update" method="post">-->
<!--    <input type="hidden" th:field="${user.id}">-->
<!--    <label for="username">Username:</label>-->
<!--    <input type="text" th:field="${user.username}"><br><br>-->
<!--    <label for="password">Password:</label>-->
<!--    <input type="password" th:field="${user.password}"><br><br>-->
<!--    <label for="roles">Roles:</label>-->
<!--    <input type="text" th:field="${user.roles}"><br><br> &lt;!&ndash; Input roles as comma-separated values &ndash;&gt;-->
<!--    <input type="submit" value="Update">-->
<!--</form>-->
<!--<a href="/logout">Logout</a>-->
<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Update User</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Update User</h1>-->
<!--<form method="post" th:action="@{/admin/user-update}">-->
<!--    <input type="hidden" th:field="${user.id}">-->
<!--    <label for="username">Username:</label>-->
<!--    <input type="text" id="username" th:field="${user.username}"><br>-->
<!--    <label for="firstName">First Name:</label>-->
<!--    <input type="text" id="firstName" th:field="${user.firstName}"><br>-->
<!--    <label for="lastName">Last Name:</label>-->
<!--    <input type="text" id="lastName" th:field="${user.lastName}"><br>-->
<!--    <input type="submit" value="Update">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Update User</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Update User</h1>-->
<!--<form action="/admin/user-update" method="post">-->
<!--    <input type="hidden" name="id" th:value="${user.id}">-->
<!--    <label for="username">Username:</label>-->
<!--    <input type="text" id="username" name="username" th:value="${user.username}">-->
<!--    <label for="password">Password:</label>-->
<!--    <input type="password" id="password" name="password" th:value="${user.password}">-->
<!--    <label for="roles">Roles:</label>-->
<!--    <input type="text" id="roles" name="roles" th:value="${user.roles}">-->
<!--    <button type="submit">Update</button>-->
<!--</form>-->
<!--<a href="/logout">Logout</a>-->
<!--</body>-->
<!--</html>-->








<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form action="#" th:action="@{/admin/user-update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First name">
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">
    <br/>
    <input type="submit" value="Update User">
</form>
<a href="/logout">Logout</a>
</body>
</html>